body{
    background: url(/src/images/boonfire.gif) no-repeat center/cover;
    font-family: 'VT323', monospace;
    color: #fff;
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.cartao{
    background-color: #070d12;
    border-radius: 15px;
    width: 400px;
    border: 2px solid #27b4fb;
    overflow: hidden;
}

.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.cartao .minhas-informacoes img{
    width: 100px;
    border-radius: 50px;
    border: 4px solid #71fdff;
}

.cartao .minhas-informacoes .nome{
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: #b8bbc5;
}

.cartao .conteudo{
    margin-top: 15px;
}

.cartao .abas{
    display: flex;
}

.cartao .abas img{
    width: 30px;
}

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.cartao .abas .aba.selecionado{
    background-color: #262626;
}

.cartao .abas .aba:hover{
    background-color: #414141;
}

.cartao .informacoes-abas{
    background-color: #262626;
}

.cartao .informacoes-abas .informacao{
    min-height: 260px;
    padding: 15px;
    display: none;
}

.cartao .informacoes-abas .informacao.selecionado{
    display: block;
}

.cartao .informacoes-abas .sub-titulo{
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.cartao .informacoes-abas .descricao{
    font-size: 22px;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 15px;
}

.cartao .informacoes-abas .descricao span{
    color: #71fdff;
}

.cartao .informacoes-abas .informacao .redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    max-height: 250px;
    overflow-y: auto;
}

.cartao .informacoes-abas .informacao .redes-sociais li a{
    display: block;
    width: 250px;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    transition: 0.2s ease-in-out;
}

.cartao .informacoes-abas .informacao .redes-sociais li a:hover{
    opacity: 0.8;
}

.redes-sociais .curriculo{
    background-color: #06c185;
}

.redes-sociais .linkedin{
    background-color: #1d87bd;
}

.redes-sociais .github{
    background-color: #545454;
}

audio{
    opacity: 0.6;
    width: 150px;
    margin-top: 10px;
}





